h1 {text-align: center;
    font-family: Verdana}

#link1 {text-align: center;
        font-family: Verdana}

#about {color: blue;
        font-family: Verdana}

#projects {color: blue;
       font-family: Verdana}

#metrics {color: blue;
        font-family: Verdana}

#contact {color: blue;
        font-family: Verdana}

#p1 {font-style: italic;
    font-family: Verdana}